.box{
    height: 200px;
    width: 200px;
    background-color: red;
    /* border-radius: 50%; */
    animation-name: move;
    animation-duration: 4s;
    animation-timing-function: ease;
    animation-iteration-count: infinite;
    position: relative;
}
/* @keyframes move {
    0%{
        transform: translateY(0);
    }
    25%{
        transform: translate(500px,300px);
    }
    50%{
        transform: translate(500px, 500px);
    }
    75%{
        transform: translate(500px,100px);
    }
} */

@keyframes move {
    0%{
        top: 0; left: 0;
        background-color: aqua;
    }
    25%{
        top:0; left: 1300px ;
        border-radius: 30px;
        background-color: darksalmon;
    }
    50%{
        top:600px; left: 1300px;
        /* transform: translate(30px); */
        transform: rotate(30deg);
        background-color: yellow;
    }
    75%{
        top: 600px; left: 0;
        background-color: chartreuse;
    }
    100%{
        top: 0; left: 0;
    }
}