.bg{
    height: 300px;
    width: 400px;
    background-color: sandybrown;
    margin: 90px;
    border: 40px solid black;
    padding: 20px;
    outline: 20px solid silver;
    outline-offset: 20px;
    border-image: url("../beach.jpg") stretch 90;
    visibility: visible;
    overflow: hidden;
    overflow: scroll;
    scrollbar-width: none;
    resize: horizontal;
    resize: vertical;
    resize: both;
    box-shadow: 0 0 15px 10px gray;
    border-radius: 50px 0;
}